$pink_text:     #F16D7F;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden{
    position: absolute;
    left: -999999999em;
    opacity: 0;
    width: 1px;
    height: 1px;
}

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
}

.wrap{
    max-width: 1140px;
    margin: 0 auto;
}

.center{
    padding: 0 calc(50% - 1140px / 2);
}

.bold__text{
    font-size: 48px;
    font-weight: 900;
}

.pink__text{
    color: $pink_text;
}

.header{
    background-color: #222;
    padding: 20px 0;

    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left{
        .logo-link{
            margin-right: 38px;
            text-decoration: none;
        }
    }
    &__right{
        .profile-link{
            margin: 0 38px;
        }
    }
    .link{
        text-decoration: none;

    }
}

.intro{
    display: flex;
    background-color: #F1E4E6;
    &__wrap{
        background-image: url(../img/bgi-intro.png);
        background-repeat: no-repeat;
        min-height: 764px;
        width: 1140px;
        background-position-x: -224px;
        background-position-y: bottom;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 400px;
    }
    &__title{
        margin: 0;
        border-left: 12px solid #f16d7f;
        padding-left: 16px;
    }
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;

    &_text {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    .category__item {
        background-color: #211616;
        width: 310px;
        height: 260px;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .category__women{
        background-image: url(../img/category-women-icon.png);
    }

    .category__men{
        background-image: url(../img/category-men-icon.png);
    }

    .category__kids{
        background-image: url(../img/category-kids-icon.png);
    }

    .category__acc{
        width: 100%;
        margin-top: 20px;
        height: 180px;
        background-image: url(../img/category-accs-icon.png);
    }
}

.featured-items{
    margin-top: 96px;
    
    &__heading{
        padding-bottom: 6px;
        text-align: center;
    }

    &__top{
        margin-bottom: 48px;
        text-align: center;
   
        .featured-items__text{
            color: #9F9F9F;
        }
    }

    &__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        .content__top{
            justify-content: space-around;
            align-items: center;
            display: flex;
            flex-direction: row;
        }

        .content__middle{
            justify-content: space-around;
            align-items: center;
            display: flex;
            flex-direction: row;
        }

        .content__bottom{
            justify-content: space-around;
            align-items: center;
            display: flex;
            flex-direction: row;
        }

        .featured-items__card{
            display: flex;
            flex-direction: column;
            background-color: #F8F8F8;
            width: 360px;
            max-height: 581px;
            align-items: flex-start;
        }

        .featured-items__card:nth-child(2){
            margin: 30px;
        }

        .card__text{
            margin: 18px;
        }
        
        .card__link{
            text-decoration: none;
        }

        .card__heading{
            font-family: Lato;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
        }

        .card__paragraph{
            display: flex;
            flex-wrap: wrap;
            color: #5D5D5D;
            font-family: Lato;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            margin-top: 12px;
        }
        .card__price{
            color: #F16D7F;
            margin: 18px 18px 18px 0;
        }



    }

    &__button{
        text-align: center;
        align-self: center;
        margin-top: 48px;
        margin-bottom: 96px;
    }

    .browse__button{
        text-decoration: none;
        border: 1px solid #F16D7F;
        color: #F16D7F;
        padding: 18px 38px;
    }

    .browse__button:hover{
        background-color: #F16D7F;
        color: #fff
      }
}

.advantages{
    display: flex;
    background-color: #222224;
    padding: 104px;
    text-align: center;
    align-items: baseline;
    justify-content: center;

    .advantages__heading{
        font-style: normal;
        font-weight: normal;
        font-size: 19.96px;
        line-height: 24px;
        color: #fff;
    }
    .advantages__paragraph{
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
        max-width: 360px;
    }

}

.feedback{
    background: url(..//img/feedback-bgi.png); 
    background-size: cover;
    background-position:center;
    display: flex;
    min-height: 448px;
    
    &-example{
        align-items: center;
        text-align: center;
        align-self: center;
    }
    &__text{
        color: #222224;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    .subscribe{
        align-self: center;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 167.2%;
        text-align: center;
    }
    .subscribe__text{
        color: #222224;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    .subscribe__email{
        background: #E1E1E1;
        border: none;
        padding: 8px;
        border-radius: 20px 0 0 20px;
    }
    .subscribe__button{
        background: #F16D7F;
        padding: 7px;
        border-radius: 0 20px 20px 0;
        border: none;
        color: #fff;

    }
}

.footer{
    min-height: 79px;
    background-color: #222224;
    display: flex;
    justify-content: space-between;

    &__info{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #fff;
        text-align: start;
        align-self: center;
        padding: 30px;
    }
    .social-media{
        align-self: center;
    }
}

.catalog_new_arrivals{
    background-color: #F8F3F4;
    padding: 60px;
    display: flex;
    justify-content: space-between;

    &_pink_text{
        font-weight: 700;
        color: $pink_text;
    }

    &_heading{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: $pink_text;
        
    }

    &_text{
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
        text-decoration: none;
    }


}

.catalog-items-top{
    display: flex;
    justify-content: space-around;

}

.catalog__filter{
    align-self: baseline;
}

.catalog__box{
    display: flex;
    flex-direction: row;
    padding-right: 48px;
    
}

.catalog-items{
    margin-top: 50px;
    .featured-items__heading{
        padding-bottom: 6px;
        text-align: center;
    }

    .featured-items__top{
        margin-bottom: 48px;
        text-align: center;
   
        .featured-items__text{
            color: #9F9F9F;
        }
    }

    .featured-items__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        .content__top{
            justify-content: space-around;
            align-items: center;
            display: flex;
            flex-direction: row;
        }

        .content__middle{
            justify-content: space-around;
            align-items: center;
            display: flex;
            flex-direction: row;
        }

        .content__bottom{
            justify-content: space-around;
            align-items: center;
            display: flex;
            flex-direction: row;
        }

        .featured-items__card{
            display: flex;
            flex-direction: column;
            background-color: #F8F8F8;
            width: 360px;
            max-height: 581px;
            align-items: flex-start;
        }

        .featured-items__card:nth-child(2){
            margin: 30px;
        }

        .card__text{
            margin: 18px;
        }
        
        .card__link{
            text-decoration: none;
        }

        .card__heading{
            font-family: Lato;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
        }

        .card__paragraph{
            display: flex;
            flex-wrap: wrap;
            color: #5D5D5D;
            font-family: Lato;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            margin-top: 12px;
        }
        .card__price{
            color: #F16D7F;
            margin: 18px;
        }
    }

    .featured-items__button{
        text-align: center;
        align-self: center;
        margin-top: 48px;
        margin-bottom: 96px;
    }
}

.catalog-items-top__right{
    display: flex;
    padding: 28px;
}

.catalog-items__heading{
        padding-bottom: 6px;
        text-align: center;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        padding-right: 10px;

}

.catalog-items__text{
        color: #6F6E6E;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        padding: 10px;
}

.catalog-items-top__right{
    align-self: baseline;
}

.catalog__pagination_box{
    margin-top: 48px;
    margin-bottom: 96px;
    display: flex;
    justify-content: center;

    .catalog__pagination{
        padding: 12px 15px;
        min-height: 43px;
        border: 1px solid #EBEBEB;
        border-radius: 2px;
        display: flex;
        justify-content: space-between;
        min-width: 30%;
    }

    .catalog__pagination_text{
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: gray ;
        
    }
    .catalog__pagination_text:hover{
        color: #EF5B70;
    }
}

.product_image{
    background-color:#F7F7F7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &_arrows_left{
       display: flex;
       flex-direction: row;
       align-self: center;
       background: rgba(42, 42, 42, 0.15);
       padding: 13px;
    }

    &_arrows_right{
        display: flex;
        flex-direction: row;
        align-self: center; 
        background: rgba(42, 42, 42, 0.15);
        padding: 13px;
     }
}

.product_description{
    width: 1140px;
    outline: 1px solid #EAEAEA;
    display: flex;
    flex-direction: column;
    &_top{
        display: flex;
        flex-direction: column;
        margin-bottom: 49px;
        margin-top: 64px;
        &_top_heading{
            font-family: Lato;
            font-weight: 300;
            font-size: 14px;
            line-height: 16,8px;
            align-self:center;
        }

        &_bottom_heading{
            font-family: Lato;
            font-weight: 300;
            font-size: 18px;
            line-height: 21,6px;
            align-self:center;
        }

        &_line{
            background-color: #EF5B70;
            width: 63px;
            height: 3px;
            align-self: center;
            margin-bottom: 13px;
        }
    }

    &_middle{
        display: flex;
        align-content: center;
        flex-direction: column;
        padding-left: 290px;
        padding-right: 290px;

        &_text_box{
            align-self: center;
            padding-bottom: 33px;
        }

        &_price_box{
            padding-bottom: 65px;
            align-self: center;
        }

        &_text{
            font-family: Lato;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #5E5E5E
        }

        &_price{
            font-family: Lato;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
        }
    }
}





